/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto; /* centra la schermata */
    max-width: 540px;
}

.panel {
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    background-color: rgb(184, 211, 255);
}

.logo {
    width: 64px;
    height: 64px;
}

body {
    background-color: rgb(76, 100, 242);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
  font-size: 31px;
  text-transform: uppercase;  
}

main {
    text-align: center;
}

/* stili sezione meteo */

.meteo-info {
    min-height: 450px;
}

.meteo-location {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.meteo-icona {
    max-width: 90%;
    transition: opacity 0.5s, translate 1s;
}

.meteo-temperatura {
    font-size: 120px;
    font-weight: 500;
}

.meteo-suggerimenti {
    font-size: 24px;
    font-weight: 700;
    transition: scale 1s;
}
